.es {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  margin-left: 10%;
}

@media (max-width: 1200px) {
  .es {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .es {
    grid-template-columns: 1fr;
  }
}


.post {
  background-color: #19376d;
  border-radius: 15px;
  padding: 20px;
  width: 370px;
  height: 195px;
  margin: 0;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.postHeader {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.postHeader img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.name {
  font-size: 1.2em;
  font-weight: bold;
}

.timestamp {
  font-size: 0.8em;
}

.raiPaLa {
  margin-left: auto;
}

.petButton {
  background-color: #a5d7e8;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.petButtonAdopt {
  background-color: #a5d7e8;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.petButton:hover {
  background-color: #004eae;
}

.petButtonAdopt:hover {
  background-color: #004eae;
}

.postContent {
  color: #333;
  border-radius: 5px;
  padding: 5px;
  background-color: #a5d7e8;
  max-width: 95%;
  min-height: 40px;
  font-size: 18px;
  margin: 27px 0;
}

.postFooter {
  text-align: center;
}

@media (max-width: 768px) {
  .post {
    width: 90%;
    margin: 20px auto;
  }
}