.input {
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 20px;
    width: 90%;
    padding: 10px 20px;
    margin-top: 10px;
}
.input:focus{
    outline: none;
}