.body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 20px;
}
.post {
  box-shadow: 5px 5px 1px 0px rgba(0,0,0,0.5);
  background-color: #fff;
  border-radius: 10px;
  margin: auto;
  max-width: 500px;
  padding: 20px;
  border: 1px solid #004eae;
}
.postHeader {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.postHeader img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.postHeader .name {
  font-weight: bold;
}
.postHeader .timestamp {
  color: #65676b;
  font-size: 0.8rem;
}
.postHontent {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
}
.postHooter {
  color: #65676b;
  border-top: 1px solid #ccd0d5;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}
.postFooter span {
  cursor: pointer;
}
.postFooter span:hover {
  text-decoration: underline;
}