
.card {
    min-width: 500px;
    max-height:50%;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(15, 21, 130, 0.1);
  }
  
  .imageContainer {
    width: 50%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .imageContainer img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .info {
    padding: 16px;
  }
  
  .info h2 {
    margin-bottom: 8px;
    font-size: 1.5em;
  }
  
  .info p {
    margin-bottom: 6px;
  }
  