.card {
  background-color: #19376d;
  border-radius: 10px;
  color: white;
  overflow: hidden;
  width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: 'Arial', sans-serif;
}

.imageContainer {
  background-color: #004eae;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.imageContainer img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.info {
  padding: 20px;
}

.info h2 {
  margin-bottom: 10px;
  text-align: center;
}

.info p {
  margin-bottom: 5px;
}

.info p strong {
  color: #a5d7e8;
}