.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.fotoDePerfil {
    margin: 40px;
    margin-bottom: 60px;
    border-radius: 50%;
    border: 0.5em solid #2980b9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 140px;
    height: 140px;
    background-color: #fff; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto_dePerfil{
    margin-top: -5px;
    position: absolute;
    font-size: 15px;
    font-weight: bold;
}