.sidebar{
  
    flex: 0 0 auto;
    width: 250px;
    background-color:#19376D;
    padding-bottom: 20px;
    position: fixed;
    left: 0;
    top: 0;
    top: 0;
    bottom: 0;
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px;
    justify-content: center;
    align-items: start;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}
.central{
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonLink {
  
  display: block;
  width: 200px;
  padding: 1rem; 
  background-color: #19376D; 
  color: #fff; 
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  transition: background-color 0.2s ease;
}

.buttonLink:hover {
  background-color: #2980b9; 
}

.ul{
  list-style: none;
  padding: 0;
}

.logo{
  position: center;

}
.activeLink {
  color: #19376D; 
  background-color:#A5D7E8;
}

.buttonContainer {
  position: absolute;

  bottom: 0;
  left: 0;
  width: 250px;
  height: 40px;
  padding: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #A5D7E8;  
  border-radius: 10px;     

}

.btnEditar {
  text-decoration: none;
  color: white;
}
.btnRemover {
  text-decoration: none;
  color: red;
  cursor: pointer;
  background: none;
  border: none;
}
.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #A5D7E8;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  font-size: larger;
  font-size: 20px;
}

.closeBtn {
  position: absolute;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  top: 4px;
  right: 6px;
}

.confirmar{
  position: absolute;
  left: 40px;
  bottom: 15px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: greenyellow;
  color: black;

}
.cancelar{
  position: absolute;
  right: 40px;
  bottom: 15px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: red;
  color: black;

}
.p{
  padding: 20px;
  top: 20px;
}

