.a{
  text-decoration: none;
}

.sidebar {
  width: 240px;
  background-color: #19376D;
  padding-bottom: 20px;
  position: fixed;
  left: 0;
  top: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  align-items: start;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  overflow: hidden;
}

.central {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonLink {
  display: block;
  width: 88.5%;
  padding: 10px 14px;
  background-color: #19376D;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border: none;
  transition: 0.2s ease;
}

.buttonLink:hover {
  background-color: #1171b1a2;
  scale: 1.1;
}

.ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.li {
  padding: 0px;
  text-decoration: none;
}

.logo {
  position: center;

}

.activeLink {
  color: #19376D;
  background-color: #A5D7E8;
}

.buttonContainer {
  margin-top: 383px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding: auto;
  display: flex;
  padding-bottom: 5px;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid white;
}

.btnEditar {
  text-decoration: none;
  color: white;
  width: 80%;
  text-align: center;
  height: 65%;
  padding-top: 15px;
  transition: 0.3s ease;
}

.btnEditar:hover {
  background-color: #1171b1a2;
}

.btnRemover {
  transition: 0.3s ease;
  text-decoration: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: none;
  background-color: red;
  border-left: 1px solid white;
  height: 111%;
  width: 40%;
  margin-top: 5px;
  font-weight: bold;
}

.btnRemover:hover {
  background-color: rgb(124, 0, 0);
  font-size: 14px;
}

.post {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalContent {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  max-width: 400px;
  color: black;
}

.closeBtn {
  float: right;
  cursor: pointer;
  font-size: 24px;
  color: black;
}

.confirmar,
.cancelar {
  border: 2px solid #d3d3d3;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.confirmar:hover {
  background-color: #46a049;
  border-color: #39843c;
}

.cancelar:hover {
  background-color: #a04444;
  border-color: #8c3c3c;
}