
.container {
    display: flex;          
    justify-content: center; 
    align-items: center;    
    height: 100vh;        
    background-color: #fff; 
}

.fotoDePerfil {
    border-radius: 50%;
    border: 0.5em solid #2980b9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    height: auto;
    object-fit: cover;
    background-color: #fff; 
}
