.post {
    width: 686px;
    min-height: 210px;
    display: flex;
    border: 2px dashed #007bff;
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 8px;
    background-color: #A5D7E8;
    margin-bottom: 5px;
    margin-top: 5px;
    gap: 10px;
    
    
  }
  
  .postImage {
    width: 100%; 
    height: auto; 
    max-width: 200px; 
    max-height: 200px; 
    left: 0;
    
}
  
  .postImage img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  .postContent {
    flex: 3;
  }
  
  .h2 {
    font-size: 20px;
    margin: 0;
  }
  
 .p {
    margin: 8px 0;
  }
  
  .postActions {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
  }
  
  .likeButton,
  .commentButton {
    padding: 8px 16px;
    margin-right: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .likeButton:hover,
  .commentButton:hover {
    background-color: #0056b3;
  }
  .tudao{
    right: 0;
    padding-right: 60px;
    padding-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
  }