.postContainer {
    background-color: #19376d;
    border-radius: 10px;
    color: white;
    padding: 20px;
    width: 350px;
    margin: 0 30% 0 45%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .raul{
    width: 1650px;
    height: 830px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .userInfo {
    display: flex;
    align-items: center;
  }
  
  .avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .userName {
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .username {
    font-size: 0.9em;
    color: #aaa;
  }
  
  .inputBox {
    background-color: #eff2f5;
    border: none;
    border-radius: 10px;
    width: 95%;
    height: 100px;
    margin: 15px 4px;
    padding: 10px;
  }
  
  .inputBox:focus {
    outline: none;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .button {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .cancel {
    background-color: #cf0000;
  }
  
  .post {
    background-color: #a5d7e8;
  }
  
  .iconBar {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
  }
  
  .icon {
    opacity: 0.7;
    cursor: pointer;
  }
  
  .icon:hover {
    opacity: 1;
  }