.central {
    display: flex;
    align-items: flex-start;
    /* Cor de fundo da área central */
    height: 100vh;
    /* Altura total da tela */
    padding-top: 50px;
    /* Espaçamento no topo */
    height: 790px;
}

.Content {
    flex-grow: 1;
    /* Ocupa o espaço restante */
    display: flex;
    justify-content: center;
    /* Centraliza o formulário horizontalmente */
    align-items: center;
    margin: 5% 0 0 20%;
}

.form {
    background-color: #19376d;
    padding: 30px;
    border-radius: 15px;
    /* Bordas arredondadas */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    width: 30%;
    max-width: 400px;
    margin: 0% 20%;
    /* Largura máxima do formulário */
}

.label {
    display: flex;
    /* Garante que o label ocupe a linha inteira */
    margin-bottom: 5px;
    color: #f5f5f5;
    /* Cor do texto dos labels */
    font-size: 1rem;
    width: 90%;
    margin: 10px 0 0 0;
}

.label h1 {
    font-size: 1.5rem;
    text-align: center;
    color: #f5f5f5;
    width: 150%;
    margin:0 0 20px 10%;
}

.Input {
    display: flex;
    max-width: 20px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    margin: 0;
}

.checkboxContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Centraliza o checkbox e o label horizontalmente */
    margin-bottom: 20px;
    /* Espaço abaixo do container do checkbox */
}

.labelCentered {
    margin-right: 10px;
    /* Espaço à direita do label */
}

.button {
    background-color: #a5d7e8;
    /* Cor de fundo do botão */
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    /* Bordas arredondadas do botão */
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    margin-top: 10px;
    /* Espaço acima do botão */
    transition: background-color 0.3s;
    /* Transição suave para o hover */
}

.button:hover {
    background-color: #2980b9;
    /* Cor de fundo do botão ao passar o mouse */
}

/* Media queries para responsividade */
@media (max-width: 768px) {
    .central {
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }

    .Content {
        width: 100%;
    }

    .form {
        width: 90%;
        /* Largura total para telas menores */
    }
}