.pagina {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modalContent {
    background-color: #19376d;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    margin: 10% 0 0 50%;
    position: relative;
}

.tituloh1 {
    text-align: center;
    color: #f2f2f2;
    margin-bottom: 30px;
}

.fechar {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.input {
    display: block;
    width: 93%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
}

.checkboxContainer {
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.label {
    margin-right: 10px;
}

.checkboxWrapper {
    position: relative;
}

.checkboxWrapper input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #ecf0f1;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 2em;
    height: 2em;
    border: 1px solid #34495e;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

.checkboxWrapper input[type="checkbox"]::before {
    content: "";
    width: 1.5em;
    height: 1.5em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #3498db;
    clip-path: polygon(14% 44%, 34% 64%, 72% 27%, 81% 37%, 34% 84%, 4% 54%);
}

.checkboxWrapper input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.btnform {
    background-color: #a5d7e8;
    color: #333;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
}

.btnform:hover {
    background-color: #2980b9;
}