

.content {
    width: 650px;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 8px;
    gap: 10px;
    flex-direction: column;
    margin-left: 125px;
    
  }
  
  .meinha {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100vh; 
    }
.timeline{
  margin: 5px;
}
.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #A5D7E8;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  font-size: larger;
  font-size: 20px;
}

.closeBtn {
  position: absolute;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  top: 4px;
  right: 6px;
}

.confirmar{
  position: absolute;
  left: 40px;
  bottom: 15px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(47, 134, 255);
  color: black;

}
.cancelar{
  position: absolute;
  right: 40px;
  bottom: 15px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: red;
  color: black;

}
.p{
  padding: 20px;
  top: 20px;
}



.modalNotification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #0000FF;
  z-index: 1000; 
}

.modalNotificationHeader {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 2px solid #0000FF;
  margin-bottom: 15px;
}

.modalNotificationContent {
  color: #333;
}

.modalNotificationCloseBtn {
  background-color: #0000FF; 
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.modalNotificationCloseBtn:hover {
  background-color: #00008B; 
}

.modalNotificationConfirmBtn {
  background-color: #0000FF; 
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

.modalNotificationConfirmBtn:hover {
  background-color: #00008B;
}
