
.content {
  height: 1147px;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 8px;
  gap: 10px;
  flex-direction: column;
  margin-left: 125px;
  scroll-behavior: smooth;
}

.meinha {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.timeline {
  margin: 5px;
}


.confirmar {
  position: absolute;
  left: 40px;
  bottom: 15px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(47, 134, 255);
  color: black;
}
.cancelar{
  position: absolute;
  right: 40px;
  bottom: 15px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: red;
  color: black;

}
.p{
  padding: 20px;
  top: 20px;
}



.modalNotification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #0000FF;
  z-index: 1000; 
}

.modalNotificationHeader {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 2px solid #0000FF;
  margin-bottom: 15px;
}

.modalNotificationContent {
  color: #333;
}

.modalNotificationCloseBtn {
  background-color: #0000FF; 
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.modalNotificationCloseBtn:hover {
  background-color: #00008B; 
}

.modalNotificationConfirmBtn {
  background-color: #0000FF; 
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

.modalNotificationConfirmBtn:hover {
  background-color: #00008B;
}


.spin{
  background-color: #ffffff;
  border-radius: 50%;
  width: 50px;
  border: 10px solid #0000005b;
  border-bottom: 10px solid #004eae;
  width: 40px;
  height: 40px;
  animation: intro_post 2s linear infinite;
  top: 27%;
  left: 47%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 3;
}

@keyframes intro_post{
  0%{
    transform: rotate(0deg);
  }100%{
    transform: rotate(360deg);
  }
}

.spin_container{
  height: 100px;
  width: 60%;
  background: linear-gradient(to bottom, transparent, rgb(255, 255, 255), white, white);
  top: 94%;
  left: 54%;
  transform: translate(-50%, -50%);
  position: fixed;
}