.cardContainer {
  justify-content: center;
}

.container{
    margin: 0 40%;
    width: 32%;
    height: 100%;
    position: fixed;
    overflow-y: auto;
}
.container::-webkit-scrollbar{
    width: 50px;
}
.container::-webkit-scrollbar-thumb{
    background-image: url(../public/logoSemBG.png);
}

.editButton {
    background-color: #19376d;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
    margin: 2px 2px 15px 2px;
  }
  
  .editButton:hover {
    background-color: #0056b3;
  }
  .deleteButton {
    background-color: #ff0000;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
    margin: 2px 2px 15px 2px;
  }
  
  .deleteButton:hover {
    background-color: #b30000;
  }
    