.html {
    margin: 0 30%;
    padding: 0;
    height: 100%;
    width: 50%;
    font-family: 'Arial', sans-serif;
    background: #f7f7f7;
    border-radius: 20px;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #004ba0;
    /* Cor de fundo da sidebar */
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    /* Sombra leve para dar profundidade */
}

/* Conteúdo do perfil com flex-grow para ocupar o espaço restante */
.perfil {
    flex-grow: 1;
    background-color: #19376d;
    padding: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 2px solid #004eae;
    box-shadow: 5px 5px 1px 0px rgba(0, 0, 0, 0.5);
}

/* Estilo dos botões de navegação */
.botoesNav {
    display: flex;
    justify-content: flex-end;
}

/* Estilo do botão de informações pessoais */
.link {
    background-color: #a5d7e8;
    /* Cor do botão para ação principal */
    color: #333;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
    /* Torna o texto do botão em maiúsculas */
    font-weight: bold;
}

/* Estilo do conteúdo do perfil e imagem de perfil */
.vemDeLadinho {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* Estilo da foto de perfil */
.fotoDePerfil {
    margin-right: 20px;
    border-radius: 50%;
    border: 3px solid #a5d7e8;
}

.infosPrincipais {
    flex-grow: 1;
}

.nome {
    font-size: 30px;
    color: #f7f7f7;
    margin: 0;
    max-height: 45px;
}

.nickname {
    font-size: 20px;
    color: #a5d7e8;
    margin: 0;
    max-height: 35px;
}

.email {
    font-size: 15px;
    color: #a5d7e8;
    margin: 5px 0;
    max-height: 35px;
}

/* Estilos para a biografia e outros campos de informação do usuário */
.infoUsuario {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 100px;
}

.campo {
    background-color: #a5d7e8;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
    min-height: auto;
}

.quebra {
    white-space: pre-wrap;
    overflow: hidden;
    
}
.timeline {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

.barra {
    border: 2px solid #f0f1f1;
    
}